* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #10101a;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #0c0c14;
    color: white;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 8px 6px -6px black;
    justify-content: space-between;
    z-index: 9999;
}

.navbar__brand {
    padding: 20px;
    margin-left: 10px;
    font-size: 30px;
}

span {
    color: #ffc107;
}

.navbar__item {
    display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.hero__container {
    position: absolute;
    width: 100%;
}

.hero__image {
    display: flex;
    opacity: 20%;
    z-index: 1;
    width: 100%;
    right: auto;
    left: auto;
    margin-top: 110px;
}

.hero__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    position: absolute;
    top: 250px;
    width: 300px;
}

.hero__button {
    background-color: #ffc107;
    color: white;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.hero__button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero__text__para {
    font-size: 14px;
    font-weight: 300;
}

.contact__us__text {
    position: absolute;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 550px;
    color: grey;
}

.contact__us__icon {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 590px;
    color: white;
    gap: 15px;
    font-size: 25px;
}

i{
 padding:5px;
}

.contact__us__icon i:hover {
    color: #ffc107;
    cursor: pointer;
}


/*Tablet*/

@media (min-width: 768px) {
    .container {
        padding: 40px;
    }
    .navbar__brand {
        margin-left: 50px;
        font-size: 40px;
    }
    .navbar__item {
        list-style: none;
        display: flex;
        padding: 15px;
        font-size: 25px;
    }
    .navbar__button {
        border: none;
        background-color: #ffc107;
        color: white;
        padding: 15px;
        font-size: 15px;
        width: 150px;
        margin-right: 50px;
        font-weight: bold;
        border-radius: 30px;
    }
    .navbar__item li:hover {
        color: #ffc107;
        cursor: pointer;
    }
    .navbar__button:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    .hero__description {
        width: 600px;
        padding: 10px;
    }
    .hero__text__first {
        font-size: 2rem;
        font-weight: 400;
    }
    .hero__text__second {
        font-size: 5rem;
    }
    .hero__text__para {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .hero__button {
        margin-top: 20px;
        height: 60px;
        font-size: 1.5rem;
    }
    .contact__us__text {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 700px;
        padding: 15px;
    }
    .contact__us__icon {
        top: 810px;
        font-size: 45px;
        gap: 20px;
        padding: 15px;
    }
}


/* Latop */

@media (min-width: 992px) {
    .navbar__brand {
        font-size: 70px;
        padding: 20px;
    }
    .navbar {
        height: 150px;
    }
    .navbar__item {
        padding: 20px;
        font-size: 40px;
    }
    .hero__image {
        opacity: 30%;
        height: 100%;
        width: 100%;
        margin-top: 170px;
        flex-direction: row;
        float: right;
        padding-right: 10px;
    }
    .hero__description {
        width: 95%;
        top: 400px;
    }
    .hero__text__first {
        margin-bottom: -40px;
        font-size: 3rem;
        font-weight: 500;
    }
    .hero__text__second {
        font-size: 9.5rem;
    }
    .hero__text__para {
        font-size: 2rem;
        line-height: 3rem;
    }
    .contact__us__text {
        font-size: 3rem;
        font-weight: 500;
        margin-top: 1000px;
    }
    .contact__us__icon {
        top: 1140px;
        font-size: 70px;
        gap: 40px;
        padding: 15px;
    }
}


/* Desktop */

@media (min-width: 1200px) {
    .navbar__brand {
        font-size: 40px;
        padding: 20px;
    }
    .navbar {
        height: 100px;
    }
    .navbar__item {
        padding: 15px;
        font-size: 30px;
        font-weight: 400;
    }
    .hero__image {
        opacity: 100%;
        height: 700px;
        width: 50%;
        margin-top: 130px;
        padding-right: 10px;
    }
    .hero__description {
        width: 50%;
        top: 70px;
        padding: 50px;
    }
    .hero__text__first {
        margin-bottom: -10px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .hero__text__second {
        font-size: 5rem;
    }
    .hero__text__para {
        font-size: .9rem;
        line-height: 1.5rem;
    }
    .hero__button {
        height: 50px;
        width: 40%;
    }
    .contact__us__container {
        flex-direction: row;
        display: flex;
    }
    .contact__us__text {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 350px;
        padding: 50px;
    }
    .contact__us__icon {
        top: 430px;
        font-size: 25px;
        gap: 10px;
        padding: 50px;
    }
}
